<script
  src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<script>
  $(document).ready(function () {

    $('#nacimiento').calendar();

    $('#solicitada').calendar();

    $('#hora').calendar({
      type: 'time'
    });

  });
</script>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item ingresar"><i class="sign in alternate icon"></i>Ingresar</a>
</div>



<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui center aligned container">
      <div class="ui inverted large secondary pointed top menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <div class="item">
          <img src="../../assets/sonrisa.png" href="#">
        </div>
        <div class="item logo" href="#">Sonrisas Dental</div>

        <div class="right item"></div>


        <a class="item" href="#Nosotros">Nosotros</a>

        <a class="ui simple dropdown item" href="#Servicios">Servicios<i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Endodoncia</div>
            <div class="item">Blanqueamiento</div>
            <div class="item">Periodoncia</div>
            <div class="item">Prostodoncia</div>
            <div class="item">Rehabilitacion</div>
            <div class="item">Odontologia</div>
            <div class="item">Ortodoncia</div>
            <div class="item">Invisalign</div>

          </div>
        </a>
        <a class="item" href="#Implantes">Implantes Dentales</a>

        <a class="item" href="#Contacto">Contacto</a>


      </div>
    </div>

    <div class="ui text s-header-content container">
      <h1 class="ui inverted header s-header">
        Sonrisas Dental
      </h1>
      <div class="ui hidden divider"></div>
      <h2>Consultorio dental especializado en odontologia en favor de una mejor sonrisa</h2>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui inverted animated fade big button cita" tabindex="0">
        <div class="visible content"> Crear Cita <i class="right arrow icon"></i></div>
        <div class="hidden content">Rapido y gratis! </div>
      </div>
    </div>

  </div>

  <!-- SEGMENTO 1 -->
  <span class="ir-arriba icon-arrow-up2"></span>

  <div class="ui vertical stripe s-section segment" id="Nosotros">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">
            Especialistas en
            Implantes Dentales
          </h3>
          <p>Nos especializamos en resolver todas tus necesidades en implantes dentales usando materiales de primera
            calidad de los mejores laboratorios a nivel mundial.</p>
          <h3 class="ui header">

            Más de 15 años de
            Experiencia Aprobada
          </h3>
          <p>Al poner tu cuidado dental en las manos de la Clínica Dental Dr. Juan José Cestero, tienes el respaldo de
            nuestro más de 15 años de experiencia ininterrumpida transformando las sonrisas de miles de personas de
            diferentes nacionalidades.</p>
        </div>
        <div class="six wide right floated column ">
          <img class="ui massive rounded image"
            src="https://img.freepik.com/foto-gratis/paciente-mujer-dentista_1303-9355.jpg?size=626&ext=jpg">
        </div>
      </div>

    </div>


    <!-- SEGMENTO 2 -->

    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>

    <h1 class="ui center aligned header header2" id="Servicios">Servicios</h1>


    <div class="ui container">
      <div class="ui raised segment">
        <div class="ui three column stackable grid container">
          <div class="row">
            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://www.dentimex.mx/sites/default/files/Endodoncia_cuerpo.jpg">
                </div>
                <div class="content">
                  <div class="center aligned header">Endodoncia</div>
                  <div class="description">Es el tratamiento que consiste en la extracción de la pulpa del diente, un
                    tejido pequeño en forma de hebra, que se encuentra en el centro del conducto del diente. Una vez que
                    la pulpa muerta, se enferma o es dañada, se extrae; el espacio que queda se limpia, se vuelve a dar
                    forma y se rellena. Este procedimiento sella el conducto radicular.</div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img
                    src="https://www.elpopular.pe/sites/default/files/styles/img_620x465/public/imagen/2016/07/08/Noticia-156443-blanqueamiento-dental1.jpg?itok=KiihlkFX">
                </div>
                <div class="content">
                  <div class="center aligned header">Blanqueamiento</div>
                  <div class="description">El blanqueamiento dental es un tratamiento estético (Odontología estética o
                    cosmética) que logra reducir varios tonos dejando los dientes más blancos, brillantes y saludables y
                    se puede realizar en consultorio o en el hogar.

                    El blanqueamiento de los dientes también permite eliminar manchas producidas por medicamentos o bien
                    por causas extrínsecas como el té, café, mate, cigarrillo, vino tinto, entre otras sustancias y
                    alimentos.</div>

                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://www.imoi.es/wp-content/uploads/2015/03/ORTODONCIA-BRACKET-METALICO-ADULTO-0.jpg">
                </div>
                <div class="content">
                  <div class="center aligned header">Ortodoncia</div>
                  <div class="description">Tiene como función la recolocación de la posición de los dientes en la arcada
                    dental. Se ocupa del diagnóstico, estudio, prevención y corrección de las situaciones conocidas como
                    maloclusión, que consisten en irregularidades en la posición del diente y sus relaciones
                    mandibulares, que pueden conducir a deformidades de la mandíbula y de la cara.</div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://clinicadentallaura.com/images/web/2568aaad.jpg">
                </div>
                <div class="content">
                  <div class="center aligned header">Periodoncia</div>
                  <div class="description">Entre las principales afecciones que sufren los pacientes en esta área son la
                    periodontitis (que es la infección o inflamación de los huesos que dan soporte a los dientes) y la
                    gingivitis (que es la infección o inflamación de las encías). También trabajamos con casos donde el
                    paciente al sonreír muestra mucha encía. </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="http://robertohernalz.com/wp-content/uploads/2015/07/shutterstock_156787064-637x478.jpg">
                </div>
                <div class="content">
                  <div class="center aligned header">Prostodoncia</div>
                  <div class="description">Para muchas personas la falta de sus piezas dentales a causa de alguna
                    enfermedad o accidente es una de sus mayores preocupaciones ya que esto afecta significativamente su
                    vida social y laboral.
                    Sin embargo, es posible reemplazar todas las piezas dentales faltantes para devolver la
                    funcionalidad masticatoria y la estética a tu dentadura gracias a la prostodoncia.
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="http://www.odontoadvance.ec/wp-content/uploads/2016/05/rehabilitacionoral.jpg">
                </div>
                <div class="content">
                  <div class="center aligned header">Rehabilitacion Oral</div>
                  <div class="description">Si has sufrido algún traumatismo en tu boca o algún proceso infeccioso la ha
                    afectado de manera significativa, la rehabilitación bucal es lo necesario para recuperar el
                    funcionamiento de tu dentadura a la vez que se le da un aspecto totalmente natural.</div>

                </div>
              </div>
            </div>


            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://www.telesoldiario.com/wp-content/uploads/2019/06/Odontologia.jpg">
                </div>
                <div class="content">
                  <div class="center aligned header">Odontologia</div>
                  <div class="description">El estado de tu dentadura tiene un impacto en tu salud general y también en
                    tus relaciones sociales.
                    La odontología se encarga precisamente del diagnóstico y tratamiento de todas las afecciones que
                    perjudican el correcto funcionamiento y el aspecto de tus dientes y otras estructuras de la cavidad
                    oral.
                  </div>

                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui hidden horizontal divider"> </div>
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://blog.sesamehub.com/ziehmer-richard/files/2019/06/Invisalign.jpg">
                </div>
                <div class="content">
                  <div class="center aligned header">Invisalign</div>
                  <div class="description">Los frenos transparentes de Invisalign usan tecnología moderna para
                    enderezar los dientes, usando una serie de frenos confeccionados exclusivamente para ti.
                    Estos frenos están hechos de plástico suave, cómodo y prácticamente invisible, que simplemente
                    llevas sobre tus dientes.
                  </div>

                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui hidden horizontal divider"> </div>
              <div class="ui raised link card">
                <div class="image">
                  <img
                    src="https://icor.duu.cl/wp-content/uploads/2019/06/Icor-Terceros-molares-Problemas-de-alineaci%C3%B2n.jpg">
                </div>
                <div class="content">
                  <div class="center aligned header">Cirugía de 3ros molares</div>
                  <div class="description">La extracción de muelas del juicio es un procedimiento quirúrgico para
                    extraer una o más muelas del juicio —las cuatro piezas dentales permanentes de los adultos ubicadas
                    en los extremos posteriores de la boca, tanto arriba como abajo—.
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- SEGMENTO 3 -->

    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>

    <div class="ui equal width stackable internally grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Excelente servicio"</h3>
          <p>Ejemplo de los meritos a nuestro negocio</p>
        </div>
        <div class="column">
          <h3>"Luego de recurrir con ellos, es dificil querer irse!"</h3>
          <p>
            <img src="https://icon-library.net/images/girl-icon-png/girl-icon-png-28.jpg" class="ui avatar image">
            <b>Yarleny</b> Cliente de Sonrisas Dental.
          </p>
        </div>
      </div>
    </div>

    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>

    <!-- SEGMENTO 5 -->

    <div class="ui middle aligned stackable grid container" id="Implantes">
      <div class="row">
        <div class="seven wide column">
          <img class="ui large rounded image"
            src="https://www.dentisalut.com/wp-content/uploads/2017/11/precio-de-implantes-dentales1-1080x675.jpg">
        </div>
        <div class="seven wide right floated column ">

          <h3 class="ui center aligned header">
            Implantes Dentales
          </h3>
          <h4 class="ui center aligned header">Sonríe con toda confianza gracias a nuestros implantes dentales de
            calidad mundial.</h4>

          <p>Uno de los factores que más afecta la autoestima y la seguridad de una persona es el no poder sonreír con
            libertad debido a la falta de una de sus piezas dentales o por el mal estado de ellas. Aparte de que también
            se afecta la funcionalidad y genera un malestar a la persona en tareas esenciales como comer y hablar.</p>
          <p>Pero hay esperanza. No tienes que renunciar a tu dentadura ni a tu sonrisa natural. Los implantes dentales
            son un método seguro de devolverle a tu boca las piezas faltantes para recuperar tanto el aspecto como la
            funcionalidad correcta elevando tu autoestima, seguridad al interactuar con los demás y sobre todo la
            tranquilidad de que conservarás tus nuevas piezas toda la vida.</p>
        </div>
      </div>
    </div>




    <!-- SEGMENTO 4 -->



    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>

    <div class="ui basic center aligned segment">
      <h1 class="ui header header3">Aceptamos todos los seguros dentales</h1>

      <div class="ui hidden horizontal divider"> </div>

      <div class="ui medium images">
        <img src="http://www.consultoriodentaldrsantiagopichardo.com/img/palic.jpg">
        <img src="http://www.consultoriodentaldrsantiagopichardo.com/img/humano.jpg">
        <img src="http://www.consultoriodentaldrsantiagopichardo.com/img/senasa.jpg">
      </div>

    </div>



  </div>


  <!-- FOOTER -->

  <div class="ui inverted vertical footer segment" id="Contacto">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="two wide column">
          <h4 class="ui inverted small header">Admin Panel</h4>
          <div class="ui inverted link list">
            <a class="item panel">Ingresar</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted large header">
            <i class="map marker alternate icon"></i>Direcci&oacute;n</h4>
          <div class="ui hidden horizontal divider"> </div>
          <div class="ui inverted list">
            <p>Calle Sergio Augusto Veras #23</p>
          </div>


        </div>
        <div class="seven wide column">
          <h4 class="ui inverted large header">
            <i class="phone icon"></i>Contactos</h4>
          <div class="ui hidden horizontal divider"> </div>
          <div class="ui inverted link list">
            <div class="ui tiny inverted header">809-338-9988</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>





<!--  FORMULARIO PARA LOGIN  -->

<div class="panel ui modal">
  <i class="close icon"></i>
  <div class="header">
    Inicio de Sesion
  </div>
  <div class="content">


    <form #formLogin="ngForm" (submit)="signIn()" class="ui form">


      <div class="field">
        <label>Correo</label>
        <input type="text" [(ngModel)]="email" name="email" placeholder="Usuario">
      </div>

      <div class="field">
        <label>Contraseña</label>
        <input [(ngModel)]="password" type="password" name="password" placeholder="Contraseña">
      </div>


      <div class="ui hidden divider"></div>



      <div class="ui error message"></div>

      <div class="actions">
        <div class="ui positive right labeled icon approve button ingresar" (click)="signIn()" type="submit">Ingresar<i
            class="checkmark icon"></i></div>
        <div class="ui inverted red cancel button">Cancelar</div>
      </div>



    </form>


  </div>
</div>


<!-- FORMULARIO PARA CITAS -->

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Solicitar Cita
  </div>
  <div class="image content">
    <div class="ui small image">
      <img src="">
    </div>
    <div class="description">

      <div class="ui floating warning icon message">
        <i class="asterisk loading icon"></i>
        <div class="content">
          <div class="header">
            Llenado del Formulario
          </div>
          <p>Luego de llenar el formulario uno de nuestros representantes se pondrá en contacto para confirmar y
            coordinar su cita. No garantizamos que la fecha seleccionada en esta solicitud esté disponible, por lo que
            pedimos haga su solicitud con tiempo y espere su confirmación.</p>
        </div>
      </div>

      <div class="ui raised segment">
        <form (ngSubmit)="newCitaOnline(newCitaOnlineForm.value)" [formGroup]="newCitaOnlineForm" class="ui form">

          <div class="field">
            <label>Nombre</label>
            <div class="ui input">
              <input type="text" name="name" formControlName="nombre" placeholder="Nombre del paciente">
            </div>
          </div>

          <div class="field">
            <label>Apellido</label>
            <div class="ui input">
              <input type="text" name="lastName" formControlName="apellido" placeholder="Apellido del paciente">
            </div>
          </div>

          <div class="field">
            <label>Sexo</label>
            <select name="sexo" formControlName="sexo" class="ui dropdown">
              <option value="">Elige tu sexo</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
          </div>



          <div class="field">
            <label>Fecha de Nacimiento</label>
            <div class="ui calendar" id="nacimiento">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="date" formControlName="nacimiento" name="birth">
              </div>
            </div>
          </div>



          <div class="field">
            <label>No. C&eacute;dula</label>

            <div class="ui input">
              <input type="text" name="id" formControlName="cedula" placeholder="XXX-XXXXXXX-X">
            </div>
          </div>





          <div class="field">
            <label>Correo Electr&oacute;nico</label>
            <div class="ui input">
              <input type="text" name="email" formControlName="correo" placeholder="Correo del paciente">
            </div>
          </div>



          <div class="field">
            <label>N&uacute;m. de Contacto</label>
            <div class="ui input">
              <input type="text" formControlName="telefono" (keypress)="keyPress($event)" minlength=10 maxlength=12 name="contact"
                placeholder="N&uacute;mero de contacto del paciente">

            </div>
          </div>

          <div class="field">
            <label>Seleccione su ARS</label>

            <select name="ARS" formControlName="ARS" class="ui dropdown">
              <option value="">Elige ARS</option>
              <option value="Ninguno">Ninguno</option>
              <option value="ARS Humano">ARS Humano</option>
              <option value="ARS Palic">ARS Palic</option>
              <option value="ARS Universal">ARS Universal</option>
              <option value="ARS Yunen">ARS Yunen</option>
              <option value="ARS Asistanet">ARS Asistanet</option>
              <option value="ARS MetaSalud">ARS MetaSalud</option>
              <option value="ARS Simag">ARS Simag</option>
              <option value="ARS Senasa">ARS Senasa</option>
            </select>
          </div>



          <div class="field">
            <label>Fecha de Cita Solicitada</label>
            <div class="ui calendar" id="solicitada">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input name="fechaSoli" formControlName="fechaSolicitada" type="date">
              </div>
            </div>
          </div>





          <div class="field">
            <label>Hora de Cita Solicitada</label>
            <div class="ui calendar" id="hora">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input name="horaSoli" formControlName="horaSolicitada" type="time" placeholder="Time">
              </div>
            </div>

          </div>

          <div class="field">
            <label>Antecedentes Familiares</label>
            <textarea name="antecedentes" formControlName="antecedentes" rows="2"></textarea>
          </div>





          <div class="field">
            <label>Contacto de Emergencia</label>
            <div class="ui input">
              <input type="text" formControlName="telContacto" name="contactEmergencia" placeholder="Télefono de un contacto conocido">
            </div>
          </div>

          <div class="field">
            <label>Parentesco</label>
            <select name="parentesco" formControlName="parentesco" class="ui dropdown">
              <option value="">Elige parentesco</option>
              <option value="Tio/a">Tio/a</option>
              <option value="Padre/Madre">Padre/Madre</option>
              <option value="Abuelo/a">Abuelo/a</option>
              <option value="Hijo/a">Hijo/a</option>
              <option value="Hermano/a">Hermano/a</option>
            </select>
          </div>

          <div class="field">
            <label>Motivo de Consulta</label>
            <div class="ui input">
              <textarea name="motivo" formControlName="motivo" rows="2"></textarea>
            </div>
          </div>

          <div class="field">
            <label>Servicio Solicitado</label>
            <select name="service" formControlName="servicio" class="ui dropdown">
              <option value="">Elige Servicios</option>
              <option value="Endodoncia">Endodoncia</option>
              <option value="Blanqueamiento">Blanqueamiento</option>
              <option value="Ortodoncia">Ortodoncia</option>
              <option value="Periodoncia">Periodoncia</option>
              <option value="Prostodoncia">Prostodoncia</option>
              <option value="Rehabilitacion Oral">Rehabilitacion Oral</option>
              <option value="Odontologia">Odontologia</option>
              <option value="Invisalign">Invisalign</option>
              <option value="Cirugía de 3ros molares">Cirugía de 3ros molares</option>
            </select>
          </div>

          <div class="actions">
            <input type="submit" class="ui positive approve button" value="Enviar Cita">
            <div class="ui black cancel button">
              Cancelar
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  
  
</div>