<div class="ui fixed borderless inverted pointing menu navbar">
  <div class="ui container">
    <div class="header active item">
      Administracion Panel
    </div>
    
    <div class="ui simple dropdown link item">
      <span class="text">Opciones</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Accesos</div>
        <a class="item" href="adminPanel">
          <i class="clipboard icon"></i>
          Menu
        </a>
        <a class="item" href="dentistas">
          <i class="user md icon"></i>
          Dentistas
        </a>
        <div class="divider"></div>
        <div class="header">Proximamente</div>
        <div class="item">...</div>
        <div class="item">...</div>
      </div>
    </div>

   
    

    



    <div class="right menu">

      <div class="borderless item">

       
        <div class="ui hidden vertical divider"></div>
        <div class="ui hidden vertical divider"></div>

        <button class="ui vertical animated inverted red button" (click)="signOut();" tabindex="0">
          <div class="hidden content">Salir</div>
          <div class="visible content">
            <i class="power off icon"></i>
          </div>
        </button>


      </div>
    </div>

  </div>

</div>
